/* your styles go here */
.navbar-affixed-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.navbar .navbar-header {
	position: absolute;
	height: 100%;
}

.navbar .navbar-header .navbar-header-rosacea {
	position: absolute;
    left: -9px;
    top: 8px;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.08);
    border-radius: 50%;
}

.strings {
	position: absolute;
	top: 0;
	left: 2px;
	display: flex;
	flex-direction: row;
	height: 100%;
}

.strings .string{
	height: 100%;
	width: 1px;
	background-color: black;
	margin: 0 2px;
}

.navbar ul.nav > li > a.navbar-link {
	padding: 25px 15px;
	font-size: 14px;
	text-decoration: none;
	text-transform: none;
	font-weight: normal;
	color: #888;
	border-top: none;
    height: 50px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar ul.nav > li:not(:last-child) > a.navbar-link {
	border-right: 1px solid rgb(224,224,224);
}

.navbar ul.nav > li > a.navbar-link:hover {
	color: black;
	background-color: transparent;
}


#home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

#home .home-logo-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	position: relative;
}

#home .home-logo-container .home-logo-bar {
	width: 15%;
	height: 1px;
	background-color: white;
	margin-bottom: 20px;
}

#home .home-logo-container .home-logo {
	width: 70px;
	height: 70px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 50%;
	margin: 0 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#home .home-logo-container .home-logo img {
	height: 50px;
	width: auto;
	margin-top: -4px;
}

#home .home-title {
	font-size: 40px;
	font-weight: bolder;
	text-transform: uppercase;
}

#home .home-subtitle {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 70px;
}

#home .home-program-button {
	cursor: pointer;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	padding: 10px;
	transition: all 0.2s ease-in-out;
}

#home .home-program-button:hover {
	background-color: rgba(255,255,255,0.3);
}


#home .home-helper {
	position: absolute;
	right: 20px;
	bottom: 20px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#home .home-helper i {
	color: rgba(255,255,255, 0.5);
}

section.custom-section {
	padding: 40px 0;
	margin: 0;
	background-color: #E0E0E0;
	background-image: url("../img/custom/logo-cropped-gris.png");
	background-repeat: no-repeat;
	position: relative;
}

#tarifs.custom-section {
	background-color: #734C68;
	background-image: none;
}


.section-header {
	padding: 40px;
	background-color: #734C68;	
}

.section-title {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 40px;
}

#program {
    color: #555;
}

#program #program-accordion .panel-default {
	background-color: transparent;
}

#program #program-accordion .panel-default>.panel-heading {
	background-color: transparent;
	border-bottom: 1px solid #734C68;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0;
}


#program #program-accordion .panel-title {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

#program #program-accordion .panel-title a {
	font-size: 15px;
	text-decoration: none;
	color: #734C68;
	font-weight: bold;
}

#program #program-accordion .panel-title a:hover {
    color: #734C68;
}

#program #program-accordion .event:not(:last-child) {
    margin-bottom: 8px;
}

#program #program-accordion .event .event-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#program #program-accordion .event .event-header .event-header-icon {
    width: 36px;
    height: 36px;
    margin: 8px;
}

#program #program-accordion .event .event-header .event-header-title {
	font-size: 18px;
}

#program #program-accordion .event .event-header .event-header-time {
	font-size: 14px;
	font-weight: bold;
}

#program #program-accordion .event .event-header .dummy {
    display: flex;
    flex-grow: 1;
}

#program #program-accordion .event .event-description {
    margin-left: 54px;
    margin-right: 70px;
    margin-top: -8px;
}

#tarifs {
	color: white;
}

#tarifs .tarifs-background {
	opacity: 0.05;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/custom/partition.jpg');
}

#tarifs .tarifs-row {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}

#tarifs .tarifs-row .tarifs-item {
	width: 180px;
	height: 200px;
	margin: 0 20px 40px 20px;
	background-color: white;
    color: #555;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#tarifs .tarifs-row .tarifs-item .tarifs-item-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

#tarifs .tarifs-row .tarifs-item .tarifs-item-infos {
	font-size: 12px;
}

#tarifs .tarifs-row .tarifs-item .tarifs-item-button {
	background-color: #666;
	padding: 5px 15px;
	letter-spacing: 1.2px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

#tarifs .tarifs-row .tarifs-item .tarifs-item-button:hover {
	background-color: #999;
}

#tarifs .tarifs-row .tarifs-item .tarifs-item-button a {
	color: white;
	text-decoration: none;
}