/* your styles go here */
.telephone-number {
	letter-spacing: 1.5px;
	font-weight: bolder;
	margin: 0 4px;
}

.photo-box:focus {
	outline: none;
}

.navbar-affixed-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}

.navbar .navbar-header {
	position: absolute;
	height: 100%;
}

.navbar .navbar-header .navbar-header-rosacea {
	position: absolute;
    left: -9px;
    top: 8px;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.08);
    border-radius: 50%;
}

.navbar ul.nav > li > a.navbar-link,
.navbar ul.nav > li > a.navbar-link:focus {
	padding: 25px 15px;
	font-size: 14px;
	text-decoration: none;
	text-transform: none;
	font-weight: normal;
	background-color: transparent;
	color: #888;
	border-top: none;
    height: 50px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar ul.nav > li:not(:last-child) > a.navbar-link {
	border-right: 1px solid rgb(224,224,224);
}

.navbar ul.nav > li > a.navbar-link:hover,
.navbar ul.nav > li > a.navbar-link.active {
	color: white;
	background-color: transparent;
	outline: none;
}

section {
	padding: 40px 0;
	margin: 0;
	position: relative;
}

.white-section {
	color: #555;
	background-color: white;
	background-image: url("../img/logos/logo-cropped-gris.png");
	background-repeat: no-repeat;
	background-position-x: 75px;
}

.purple-section {
	color: white;
	background-color: #734C68;
}

.grey-section {
	color: white;
	background-color: #666;
}

.strings {
	position: absolute;
	top: 0;
	left: -12px;
	display: flex;
	flex-direction: row;
	height: 100%;
}

.strings .string {
	height: 100%;
	width: 14px;
	background-color: black;
	margin: 0 7px;
}

.section-header {
	padding: 40px;
	background-color: #734C68;	
}

.section-title {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 40px;
	font-weight: bold;
}

#parallax1 {
	height: 800px;
	background-image: url('../img/backgrounds/background10.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


#home {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

#home .home-bg-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: black;
	opacity: 0.3;
}

#home .home-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 1;
}

#home .home-logo-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	position: relative;
}

#home .home-logo-container .home-logo-bar {
	width: 15%;
	height: 1.5px;
	background-color: white;
	margin-bottom: 20px;
}

#home .home-logo-container .home-logo {
	width: 75px;
	height: 75px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 50%;
	margin: 0 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 1.5px solid white;
}

#home .home-logo-container .home-logo img {
	height: 50px;
	width: auto;
	margin-top: -4px;
}

#home .home-title {
	font-size: 40px;
	font-weight: bolder;
	/*text-transform: uppercase;*/
	text-align: center;
	padding: 0 16px;
	font-family: "Lucida Sans Unicode", serif;
}

#home .home-subtitle {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: "Lucida Sans Unicode", serif;
}

#home .home-date,
#home .home-place {
	font-size: 16px;
	opacity: 0.8;
}

#home .home-program-button {
	cursor: pointer;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	padding: 10px;
	transition: all 0.2s ease-in-out;
}

#home .home-program-button:hover {
	background-color: rgba(255,255,255,0.3);
}


#home .home-helper {
	position: absolute;
	right: 20px;
	bottom: 20px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#home .home-helper i {
	color: rgba(255,255,255, 0.5);
}

#about .about-content {
	font-size: 18px;
	/*text-align: center;*/
}

#about .about-content a,
#infos .infos-content a,
#facebook a {
	color: #734C68;
	font-weight: bold;
}

#about .about-content a:hover,
#about .about-content a:focus,
#infos .infos-content a:hover,
#infos .infos-content a:focus {
	color: #AD7D9F;
	text-decoration: none;
}

.artists.owl-carousel {
	margin: 40px 0;
}

.artists.owl-carousel .item{
	background-color: black;
	height: 400px;
	position: relative;
}

.artists.owl-carousel .item img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.artists.owl-carousel .item .img-caption {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.6);
	color: white;
	padding: 10px;
	text-align: center;
}

.artists.owl-carousel .item .img-caption .artist-name a {
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.artists.owl-carousel .item .img-caption .artist-name a:hover {
	color: #CCC;
}

.artists.owl-carousel .item .img-caption .artist-description {
	font-size: 12px;
}

.artists.owl-theme .owl-controls .owl-page:hover span,
.artists.owl-theme .owl-controls .owl-page.active span {
	background-color: #734C68!important;
}

.artists.owl-theme .owl-buttons {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 38px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	pointer-events: none;
}

.artists.owl-theme .owl-buttons .owl-prev,
.artists.owl-theme .owl-buttons .owl-next {
	background: none;
	pointer-events: auto;
}

.artists.owl-theme .owl-buttons .owl-prev i,
.artists.owl-theme .owl-buttons .owl-next i {
	transition: color 0.2s ease-in-out;
	color: white;
	text-shadow: 1px 1px 5px #666;
}

.artists.owl-theme .owl-buttons .owl-prev:hover i,
.artists.owl-theme .owl-buttons .owl-next:hover i {
	color: #CCC;
}

#program .program-text {
	font-size: 18px;
}

#program #program-accordion .panel-default {
	background-color: transparent;
}

#program #program-accordion .panel-default>.panel-heading {
	background-color: transparent;
	border-bottom: 1px solid #734C68;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 0;
}


#program #program-accordion .panel-title {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

#program #program-accordion .panel-title a {
	font-size: 18px;
	text-decoration: none;
	color: #734C68;
	font-weight: bold;
}

#program #program-accordion .panel-title a:hover {
    color: #AD7D9F;
	text-decoration: none;
}

#program #program-accordion .event:not(:last-child) {
    margin-bottom: 8px;
}

#program #program-accordion .event .event-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#program #program-accordion .event .event-header .event-header-icon {
    width: 36px;
    height: 36px;
    margin: 8px;
}

#program #program-accordion .event .event-header .event-header-title {
	font-size: 18px;
}

#program #program-accordion .event .event-header .event-header-time {
	font-size: 14px;
	font-weight: bold;
}

#program #program-accordion .event .event-header .dummy {
    display: flex;
    flex-grow: 1;
}

#program #program-accordion .event .event-description {
    margin-left: 54px;
    margin-right: 70px;
    margin-top: -8px;
}

#tarifs .tarifs-background,
#concours .concours-background {
	opacity: 0.05;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../img/backgrounds/partition.jpg');
}

#tarifs .tarifs-row,
#concours .concours-row {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}

#tarifs .tarifs-row .tarifs-item,
#concours .concours-row .concours-item {
	width: 180px;
	height: 170px;
	margin: 0 20px 40px 20px;
	background-color: white;
    color: #555;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#infos .infos-item {
	margin-bottom: 20px;
}

#tarifs .tarifs-row .tarifs-item .tarifs-item-title,
#concours .concours-row .concours-item .concours-item-title,
#infos .infos-item .infos-item-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

#tarifs .tarifs-row .tarifs-item .tarifs-item-infos,
#concours .concours-row .concours-item .concours-item-infos {
	font-size: 12px;
}

#tarifs .tarifs-row .tarifs-item .tarifs-item-button,
#concours .concours-row .concours-button {
	background-color: #666;
	padding: 5px 15px;
	letter-spacing: 1.2px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

#concours .concours-row .concours-button {
	background-color: #333;
}

#tarifs .tarifs-row .tarifs-item .tarifs-item-button:hover,
#concours .concours-row .concours-button:hover {
	background-color: #999;
}

#tarifs .tarifs-row .tarifs-item .tarifs-item-button a,
#concours .concours-row a.concours-button {
	color: white;
	text-decoration: none;
	margin-bottom: 16px;
}

#archives .archives-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

#archives .archives-container .archives-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

#archives .archives-container .archives-item a {
	text-decoration: none;
	color: #555;
}

#archives .archives-container .archives-item a:hover {
	color: #9E688F;
}

#archives .archives-container .archives-item-title {
	text-align: center;
	padding: 10px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: bold;
}

#archives .archives-container .archives-item-thumbnail {
	position: relative;
}

#archives .archives-container .archives-item-thumbnail img{
	width: 100%;
	height: auto;
}

#archives .archives-container .archives-item-thumbnail-filter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
} 

#archives .archives-container .archives-item a:hover .archives-item-thumbnail-filter {
	opacity: 0.2;
}

#partners .partners-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#partners .partners-container .partners-item {
	margin: 16px;
}

#partners .partners-container .partners-item img{
	height: 45px;
	width: auto;
}

#partners .partners-container .partners-item:hover img{
	opacity: 0.7
}

#infos .infos-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#infos .infos-container .infos-content {
	padding: 0px 30px 0px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#infos .infos-container .map-container {
	width: 90%;
}

@media (min-width: 768px) {
	#infos .infos-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
	}

	#infos .infos-container .infos-content {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 0px 30px 0px 15px;
		text-align: start;
		flex-shrink: 0;
	}

	#infos .infos-container .map-container {
		display: flex;
		flex-grow: 1;
	}
}

.archives-carousel-modal .archives-carousel,
.archives-carousel-modal .archives-carousel .owl-wrapper-outer,
.archives-carousel-modal .archives-carousel .owl-wrapper-outer .owl-wrapper {
	height: 100%;
	color: white;
}

.archives-carousel-modal .owl-item {
	background-color: black;
	height: 100%;
	width: 100%;
}

.archives-carousel-modal .owl-item img{ 
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.archives-carousel .owl-buttons {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: calc(100% - 38px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	pointer-events: none;
}

.archives-carousel .owl-buttons .owl-prev,
.archives-carousel .owl-buttons .owl-next {
	background: none;
	pointer-events: auto;
	background-color: transparent!important;
}

.archives-carousel .owl-buttons .owl-prev i,
.archives-carousel .owl-buttons .owl-next i {
	transition: color 0.2s ease-in-out;
	color: white;
	text-shadow: 1px 1px 5px #666;
}

.archives-carousel .owl-buttons .owl-prev:hover i,
.archives-carousel .owl-buttons .owl-next:hover i {
	color: #CCC;
}

.my-modal .modal-content {
	border-radius: 0;
	border: none;
	position: relative;
	overflow: hidden;
	height: 100%;
}

.my-modal .modal-content .my-modal-header {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	height: 100px;
	width: 100%;
	padding: 40px 0;
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
}

.my-modal-close-button {
	position: absolute;
	z-index: 1;
	top: 16px;
	right: 16px;
	cursor: pointer;
}

.my-modal .modal-content .my-modal-content {
	position: absolute;
	top: 100px;
	left: 0;
	padding: 16px 32px 50px 32px;
	overflow-y: scroll;
	height: calc( 100% - 100px );
	width: 100%;
}

.my-modal .modal-content .my-modal-content .img-columns {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.my-modal .modal-content .my-modal-content .poster-columns {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.my-modal .modal-content .my-modal-content .poster-img {
	width: 25%;
	padding: 0 8px 8px 0;
}

.my-modal .modal-content .my-modal-content .poster-img img {
	width: 100%;
	height: auto;
	border-radius: 1%;
	transition: opacity 0.15s ease-in-out;
}

.my-modal .modal-content .my-modal-content .img-columns .modal-img {
	position: relative;
	flex: auto;
	height: 200px;
	margin: 0 8px 8px 0;
	min-width: 100px;
}

.my-modal .modal-content .my-modal-content .img-columns .modal-img img.dummy {
	height: 100%;
	opacity: 0;
}

.my-modal .modal-content .my-modal-content .img-columns .modal-img img.real {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 1%;
	transition: opacity 0.15s ease-in-out;
}

.my-modal .modal-content .my-modal-content .img-columns .modal-img img.real:hover,
.my-modal .modal-content .my-modal-content .poster-img img:hover {
	opacity: 0.8;
}

#facebook {
	text-align: center;
	font-size: 18px;
	margin-top: 32px;
}




