<section class="white-section" id="about">
    <div class="strings">
        <div class="string" style="opacity:0.1;"></div>
        <div class="string" style="opacity:0.1;"></div>
        <div class="string" style="opacity:0.1;"></div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="section-title">
                Le festival
            </div>
            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 about-content">
                {{ .Site.Params.about.text | markdownify }}

                <div class="artists owl-carousel">
                    {{ range .Site.Data.artists }}
                        <div class="item">
                            <img src="{{ .image }}" alt="">
                            <div class="img-caption">
                                <div class="artist-name">
                                    <a href="{{ .url }}" target="_blank">{{ .name }}</a>
                                </div>
                                {{ with .description }}
                                    <div class="artist-description">{{ . }}</div>
                                {{ end }}
                            </div>
                        </div>
                    {{ end }}
                </div>
                <p>
                Pour ne rien manquer du Festival et de ses actualités, rejoignez-nous sur <a href="{{ .Site.Params.about.facebook }}" target="_blank">Facebook</a> !
                </p>
            </div>
        </div>
    </div>
</section>



