{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ $lang := .Site.Language.Lang }}
{{ range $archiveIndex, $archive := .Site.Data.archives }}
    <div class="modal fade archives-carousel-modal" id="archivesCarousel{{ $archive.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="my-modal-close-button" data-dismiss="modal" style="color:white;">
                <i class="fa fa-3x fa-times-circle"></i>
            </div>
            <div class="archives-carousel owl-carousel">
                {{ range $archive.list }}
                    <div class="item">
                        <img src="{{ . }}" alt="">
                    </div>
                {{ end }}
            </div>
    </div>

{{ end }}

