{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ $lang := .Site.Language.Lang }}
{{ range $archiveIndex, $archive := .Site.Data.archives }}
<div class="modal fade my-modal" id="archivesModal{{ $archive.modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content white-section">

        <div class="strings">
            <div class="string" style="opacity:0.1;"></div>
            <div class="string" style="opacity:0.1;"></div>
            <div class="string" style="opacity:0.1;"></div>
        </div>


        <div class="my-modal-header">
            {{ index $archive.title $lang }}
        </div>
        <div class="my-modal-close-button" data-dismiss="modal">
            <i class="fa fa-3x fa-times-circle"></i>
        </div>

        <div class="my-modal-content">
            <div class="container">
                <div class="row">
                    {{ if eq $archive.modalID "affiches" }}
                        <div class="poster-columns col-md-10 col-md-offset-1 col-xl-8 col-xl-offset-2">
                            {{ range $archive.list }}
                                <div class="poster-img">
                                    <img src="{{ . }}">
                                </div>
                            {{ end }}
                        </div>
                    {{ else if eq $archive.modalID "presse" }}
                        <div class="col-md-8 col-md-offset-2 col-xl-8 col-xl-offset-2 press">
                            {{ range $archive.list }}
                            <div class="press-link">
                                <a href="{{ .item.url }}" download>
                                    {{ .item.name }}
                                </a>
                            </div>
                            {{ end }}
                        </div>
                    {{ else }}
                        <div class="img-columns col-md-10 col-md-offset-1 col-xl-8 col-xl-offset-2">
                            {{ range $imageIndex, $image := $archive.list }}
                                <a class="modal-img" 
                                    href="#archivesCarousel{{ $archive.modalID }}" 
                                    data-toggle="modal" data-keyboard="false"
                                    onClick="goToImageInCarousel({{$archive.modalID}}, {{$imageIndex}})"
                                >
                                    <img src="{{ . }}" class="dummy">
                                    <img src="{{ . }}" class="real">
                                </a>
                            {{ end }}
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>

    </div>
</div>
{{ end }}

<script type="text/javascript">
    function goToImageInCarousel(archiveModalID, imageIndex) {
        var carouselId = "#archivesCarousel" + archiveModalID;
        var carousel = $(carouselId).find('.owl-carousel').first();
        carousel.owlCarousel();
        carousel.trigger('owl.goTo', [imageIndex]);
    }
</script>