<section id="concours" class="purple-section">

    <div class="concours-background"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 col-lg-offset-1">

                <div class="section-title">
                    {{ .Site.Params.concours.title | markdownify }}
                </div>

                <div class="concours-row">
                    
                    {{ range .Site.Params.concours.item }}
                        <div class="concours-item">
                            <div class="concours-item-title">
                                {{ .title }}
                            </div>
                            <div>{{ .date | markdownify }}</div>
                        </div>
                    {{ end }}
                </div>
            </div>

            
            <div class="concours-row">
                <a class="concours-button" href="img/concours/bulletin_inscription_concours.pdf" download>
                    {{ .Site.Params.concours.inscription }}
                </a>
            </div>
            <div class="concours-row">
                <a class="concours-button" href="img/concours/reglement_concours.pdf" download>
                    {{ .Site.Params.concours.reglement }}
                </a>
            </div>

            <div class="concours-row">
                <div style="text-align: center;">
                    {{ .Site.Params.concours.infos | markdownify }}
                </div>
            </div>

        </div>
    </div>
</section>
