<div id="home" 
    style="background: url({{.Site.Params.homepage.background}}); background-size:cover;background-position: center;background-attachment: fixed;"
>
    <div class="home-bg-filter"></div>

    <div class="home-content">
        <!-- LOGO -->
        <div class="home-logo-container">
            <div class="home-logo-bar"></div>
            <div class="home-logo">
                <img src="{{.Site.Params.homepage.logo}}">
            </div>
            <div class="home-logo-bar"></div>
        </div>

        <!-- TITLE -->
        {{ with .Site.Params.homepage.title }}
            <div class="home-title">{{.}}</div>
        {{ end }}

        <!-- SUBTITLE -->
        {{ with .Site.Params.homepage.subtitle }}
            <div class="home-subtitle">{{.}}</div>
        {{ end }}

        {{ with .Site.Params.homepage.date | markdownify }}
            <div class="home-date">{{.}}</div>
        {{ end }}

        {{ with .Site.Params.homepage.place }}
            <div class="home-place">{{.}}</div>
        {{ end }}

    <div style="background-color:darkred;position:absolute;transform:rotate(-30deg);width:1000px;font-size:18px;font-family:'Lucida Sans Unicode';font-weight:bold;top:155px;left:-305px;">
        {{ .Site.Params.homepage.concours | markdownify }}
    </div>


    </div>

    <!-- HELPER -->
    <div class="home-helper">
        <i class="fa fa-3x fa-angle-double-down"></i>
    </div>

</div>
