<div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

    <div class="navbar navbar-default" role="navigation" id="navbar">

           <!--  <div class="navbar-header">
                <div class="navbar-header-rosacea"></div>
                <div class="strings">
                    <div class="string" style="opacity:0.2;"></div>
                    <div class="string" style="opacity:0.2;"></div>
                    <div class="string" style="opacity:0.2;"></div>
                    <div class="string" style="opacity:0.15;"></div>
                    <div class="string" style="opacity:0.15;"></div>
                    <div class="string" style="opacity:0.1;"></div>
                </div>
            </div> -->
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    {{ range .Site.Menus.main }}
                        <li>
                            <a href="{{ .URL }}" class="navbar-link page-scroll scroll-to">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            </div>
            <!--/.nav-collapse -->

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

                    <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

    </div>
    <!-- /#navbar -->

</div>

<!-- *** NAVBAR END ***-->
