<section class="white-section" id="news">
    <div class="strings">
        <div class="string" style="opacity:0.2;"></div>
        <div class="string" style="opacity:0.2;"></div>
        <div class="string" style="opacity:0.2;"></div>
        <div class="string" style="opacity:0.15;"></div>
        <div class="string" style="opacity:0.15;"></div>
        <div class="string" style="opacity:0.1;"></div>
    </div>
    
    <div class="container">
        <div class="row">

            <div class="section-title">
                A propos
            </div>

            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                Lorem ipsum blablabla
            </div>
        </div>
    </div>
</section>

