<section id="partners" class="grey-section">
    <div class="container">
       <div class="row">
            <div class="col-md-12">
                <div class="section-title" style="margin-bottom: 20px;">
                    {{ .Site.Params.partners.title }}
                </div>
                <div class="partners-container">
                    {{ range .Site.Data.partners }}
                        <div class="partners-item">
                            <a href="{{ .url }}" target="_blank">
                                <img src="{{ .image }}">
                            </a>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>