{{ if isset .Site.Params "program" }}
{{ if gt (len .Site.Data.program) 0 }}
{{ $lang := .Site.Language.Lang }}
<section class="white-section" id="program">

    <div class="strings">
        <div class="string" style="opacity:0.15;"></div>
        <div class="string" style="opacity:0.15;"></div>
        <div class="string" style="opacity:0.1;"></div>
    </div>
            
    <div class="container">
        <div class="row">

            <div class="section-title">
                {{ .Site.Params.program.title }}
            </div>

            <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="panel-group" id="program-accordion" role="tablist" aria-multiselectable="true">
                    {{ range $index, $element := sort .Site.Data.program "order"}}
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <div class="panel-title">
                            <a role="button" data-toggle="collapse" 
                                href="#collapse-{{$index}}" aria-expanded="true"
                                style="display:flex;flex-grow:1;">
                              {{ index $element.date $lang }}
                            </a>
                            <a role="button" data-toggle="collapse" 
                                href="#collapse-{{$index}}" aria-expanded="true">
                              <i class="fa fa-angle-down"></i>
                            </a>
                          </div>
                        </div>
                        <div id="collapse-{{$index}}" class="panel-collapse collapse" role="tabpanel">
                          <div class="panel-body">
                            {{ range $event := $element.events}}
                                <div class="event">
                                    <div class="event-header">
                                        <img src="{{ $event.icon }}" class="event-header-icon"/>
                                        <div class="event-header-title">
                                            {{ index $event.type $lang }}
                                            {{ with $event.artist }}
                                                <span>&nbsp- {{ . }} </span>
                                            {{ end }}
                                        </div>
                                        <div class="dummy"></div>
                                        {{ with $event.time}}
                                            <div class="event-header-time">{{ . }}</div>
                                        {{ end }}
                                    </div>
                                    {{ with $event.description}}
                                        <div class="event-description">{{ index . $lang }}</div>
                                    {{ end }}
                                </div>
                            {{ end }}
                          </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
