<section id="tarifs" class="purple-section">

    <div class="tarifs-background"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 col-lg-offset-1">

                <div class="section-title">
                    {{ .Site.Params.tarifs.title }}
                </div>

                <div class="tarifs-row">
                    <div class="tarifs-item">
                        <div class="tarifs-item-title">
                            Concerts
                        </div>
                        <div>Plein tarif - <strong>23€</strong></div>
                        <div>Tarif réduit - <strong>18€</strong></div>
                        <div>Tarif adhérent - <strong>15€</strong></div>
                        <div style="flex-grow: 1;"></div>
                        <div class="tarifs-item-button">
                            <a>Réserver</a>
                        </div>
                    </div>

                    <div class="tarifs-item">
                        <div class="tarifs-item-title">Pass 3 Concerts</div>
                        <div>Plein tarif - <strong>57€</strong></div>
                        <div>Tarif réduit - <strong>48€</strong></div>
                        <div style="flex-grow: 1;"></div>
                        <div class="tarifs-item-button">
                            <a>Réserver</a>
                        </div>
                    </div>

                    <div class="tarifs-item">
                        <div class="tarifs-item-title">Pass 4 Concerts</div>
                        <div>Plein tarif - <strong>74€</strong></div>
                        <div>Tarif réduit - <strong>64€</strong></div>
                        <div style="flex-grow: 1;"></div>
                        <div class="tarifs-item-button">
                            <a>Réserver</a>
                        </div>
                    </div>

                    <div class="tarifs-item">
                        <div class="tarifs-item-title">Concerts de 18h</div>
                        <div>Tarif unique - <strong>10€</strong></div>
                        <div style="flex-grow: 1;"></div>
                        <div class="tarifs-item-infos">
                            <div>Entrée Libre</div>
                        </div>
                    </div>

                    <div class="tarifs-item">
                        <div class="tarifs-item-title">Master Class</div>
                        <div>Participant - <strong>40€</strong></div>
                        <div>Auditeur - <strong>10€</strong></div>
                        <div style="flex-grow: 1;"></div>
                        <div class="tarifs-item-infos">
                            <div>Participant - Réservation par téléphone</div>
                            <div>Auditeur - Entrée Libre</div>
                        </div>
                    </div>

                    <div class="tarifs-item">
                        <div class="tarifs-item-title">Atelier déchiffrage</div>
                        <div>Participant - <strong>30€</strong></div>
                        <div>Auditeur - <strong>10€</strong></div>
                        <div style="flex-grow: 1;"></div>
                        <div class="tarifs-item-infos">
                            <div>Participant - Réservation par téléphone</div>
                            <div>Auditeur - Entrée Libre</div>
                        </div>
                    </div>

                    <div class="tarifs-item">
                        <div class="tarifs-item-title">Concert "Guitares à Suivre"</div>
                        <div style="flex-grow: 1;"></div>
                        <div class="tarifs-item-infos">
                            <div>Entrée Libre</div>
                        </div>
                    </div>

                    <div class="tarifs-item">
                        <div class="tarifs-item-title">Salon de Lutherie</div>
                        <div style="flex-grow: 1;"></div>
                        <div class="tarifs-item-infos">
                            <div>Entrée Libre</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tarifs-row">
                <div style="text-align: center;">
                Informations & Réservations par téléphone au <span class="telephone-number">{{ .Site.Params.portable }}</span> ou au <span class="telephone-number">{{ .Site.Params.telephone }}</span>
                </div>
            </div>

        </div>
    </div>
</section>
