<section id="tarifs" class="purple-section">

    <div class="tarifs-background"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 col-lg-offset-1">

                <div class="section-title">
                    {{ .Site.Params.tarifs.title }}
                </div>

                <div class="tarifs-row">

                    {{ range .Site.Params.tarifs.item }}
                        <div class="tarifs-item">
                            <div class="tarifs-item-title">
                                {{ .title }}
                            </div>
                            <div>
                                {{ .prices | markdownify }}
                            </div>
                            <div style="flex-grow: 1;"></div>
                            {{ if .resa }}
                            <div class="tarifs-item-button">
                                <a>Réserver</a>
                            </div>
                            {{ end }}
                            {{ if .infos }}
                            <div class="tarifs-item-infos">
                                {{ .infos | markdownify }}
                            </div>
                            {{ end }}
                    </div>
                    {{ end }}

            <div class="tarifs-row">
                <div style="text-align: center;">
                    {{ .Site.Params.tarifs.infos | markdownify }}
                </div>
            </div>

        </div>
    </div>
</section>
