<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        {{ partial "nav.html" . }}

        {{ partial "home.html" . }}

        {{ partial "about.html" . }}

        <div id="parallax1"></div>

        {{ partial "program.html" . }}

        {{ partial "tarifs.html" . }}
            
        <!-- {{ partial "archives.html" . }} -->

        <div id="parallax1"></div>

        {{ partial "contact.html" . }}

        {{ partial "partners.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
